# Web framework
Flask==2.3.3

# Vidéo et audio
moviepy==1.0.3
ffmpeg-python==0.2.0

# Manipulation images (version stable pour MoviePy)
Pillow==9.5.0

# Utils
Werkzeug==2.3.7
gunicorn==21.2.0

# Logging et JSON
requests==2.31.0
